@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
}
body p {
  font-size: 14px;
}

.linea-oscura-index {
  width: 50px;
  height: 2px;
  border: #1C4C56 solid 2px;
  margin: auto;
  margin-top: 10px;
}

.linea-oscura-secciones {
  width: 50px;
  height: 2px;
  border: #1C4C56 solid 2px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
}

.linea-clara {
  width: 50px;
  height: 2px;
  border: #8EBDA0 solid 2px;
  margin: auto;
  margin-top: 10px;
}

.navbar {
  padding: 10px 20px;
}
.navbar .logo-principal {
  width: 50px;
}
.navbar .nav-link {
  color: #1C4C56;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 5px 0;
  padding: 5px;
  border-bottom: solid 2px transparent;
}
.navbar .nav-link:hover {
  color: #8EBDA0;
}
.navbar .active {
  border-bottom: solid 2px #2D7C8E;
  font-weight: 500;
}

.img-index {
  width: 100%;
  max-width: 1366px;
}

.linea-vertical {
  height: 45px;
  width: 2px;
  margin: auto;
  background-color: #1C4C56;
  margin-top: 30px;
  margin-bottom: 10px;
}

.contenedor-parrafo-index {
  width: 100%;
  margin: auto;
}
.contenedor-parrafo-index p {
  color: #1C4C56;
  margin: auto;
  width: 80%;
  padding: 20px 0 30px 0;
  font-weight: 400;
}

.contenedor-biografia {
  width: 100%;
  background-color: #1C4C56;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenedor-biografia .contenedor-biografia-img {
  background-color: #C7D7CD;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contenedor-biografia .contenedor-biografia-img .img-biografia-1 {
  width: 50%;
}
.contenedor-biografia .contenedor-biografia-img .img-biografia-2 {
  width: 50%;
}
.contenedor-biografia .contenedor-biografia-textos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contenedor-biografia .contenedor-biografia-textos h4 {
  color: #fff;
  margin: auto;
  margin-top: 30px;
}
.contenedor-biografia .contenedor-biografia-textos p {
  width: 80%;
  color: #ffffff;
  margin: auto;
  padding: 20px 0 30px 0;
}

.contenedor-testimoniales {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contenedor-testimoniales h4 {
  color: #1C4C56;
  margin: auto;
  margin-top: 30px;
  font-weight: 600;
}
.contenedor-testimoniales p {
  color: #1C4C56;
  margin: auto;
  width: 80%;
  padding: 20px 0 30px 0;
  font-weight: 400;
}
.contenedor-testimoniales .carousel {
  width: 100%;
}
.contenedor-testimoniales .carousel .carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #8EBDA0;
  margin-bottom: 10px;
}
.contenedor-testimoniales .carousel .fondo-carousel {
  background-color: #fafafa;
  height: 450px;
}
.contenedor-testimoniales .carousel .img-persona {
  width: 120px;
  border-radius: 50%;
  border: #8EBDA0 4px solid;
}
.contenedor-testimoniales .carousel h5 {
  color: #1C4C56;
  font-weight: 500;
  margin-top: 15px;
}
.contenedor-testimoniales .carousel h6 {
  color: #8EBDA0;
}
.contenedor-testimoniales .carousel p {
  line-height: 24px;
}
.contenedor-testimoniales .carousel p .comillas {
  font-size: 24px;
  font-weight: bold;
}

.contenedor-contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 0;
  background-color: #C7D7CD;
}
.contenedor-contacto h4 {
  color: #1C4C56;
  margin: auto;
  font-weight: 600;
}
.contenedor-contacto p {
  color: #1C4C56;
  margin: auto;
  width: 80%;
  padding: 20px 0 30px 0;
  font-weight: 400;
}
.contenedor-contacto .boton {
  border-radius: 3px;
  border: solid 2px #1C4C56;
  background-color: #1C4C56;
  color: #ffffff;
  margin: auto;
  padding: 5px;
  width: 30%;
  text-align: center;
  text-decoration: none;
}
.contenedor-contacto .boton:hover {
  background-color: transparent;
  color: #1C4C56;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-bottom: 40px;
}
footer .contenedor-menu-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contenedor-menu-footer a {
  padding: 5px;
  color: #1C4C56;
  text-decoration: none;
}
footer .contenedor-menu-footer .active {
  border-bottom: solid 2px #2D7C8E;
  font-weight: 500;
}
footer .contenedor-redes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
}
footer .contenedor-redes svg {
  color: #1C4C56;
  width: 30px;
}
footer .contenedor-redes .facebook:hover {
  padding: 1px;
  border-radius: 48%;
  color: #fff;
  background-color: #3b5998;
}
footer .contenedor-redes .instagram:hover {
  padding: 1px;
  border-radius: 48%;
  color: #fff;
  background-image: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
}
footer .contenedor-redes .linkedin:hover {
  padding: 1px;
  border-radius: 48%;
  color: #fff;
  background-color: #0e76a8;
}

.contenedor-terminos {
  margin-bottom: 40px;
}
.contenedor-terminos h6 {
  margin: auto;
  color: #1C4C56;
  font-size: 10px;
  text-align: center;
  font-weight: 400;
}

/*------Secciones-----*/
.navbar .logo-h {
  height: 40px;
}

.contenedor-encabezado-secciones {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.contenedor-encabezado-secciones h1 {
  color: #1C4C56;
  margin: auto;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.contenedor-encabezado-secciones p {
  color: #1C4C56;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 400;
  text-align: center;
}

/*------Terapias-----*/
.contenedor-cards-terapias {
  width: 100%;
  display: grid;
  grid-template-columns: 250px;
  justify-content: center;
  background-color: #d92e7f;
}
.contenedor-cards-terapias .cards-terapias {
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.contenedor-cards-terapias .cards-terapias img {
  width: 100%;
}
.contenedor-cards-terapias .cards-terapias img:hover {
  opacity: 10%;
  transition: all 2s ease-in-out;
}
.contenedor-cards-terapias .cards-terapias h5 {
  text-align: center;
  margin-top: 15px;
}
.contenedor-cards-terapias .cards-terapias p {
  padding: 10px 0;
  width: 90%;
  text-align: left;
  margin: auto;
}

/*------Programas-----*/
/*------Contacto-----*/
.contenedor-seccion-contacto {
  width: 100%;
  background-color: #C7D7CD;
}
.contenedor-seccion-contacto form {
  width: 50%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contenedor-seccion-contacto form button {
  border-radius: 3px;
  border: solid 2px #1C4C56;
  background-color: #1C4C56;
  color: #ffffff;
  margin: auto;
  padding: 5px;
  width: 20%;
  text-align: center;
  text-decoration: none;
}
.contenedor-seccion-contacto form button:hover {
  background-color: transparent;
  color: #1C4C56;
}
.contenedor-seccion-contacto form .form-control:focus {
  border-color: #2D7C8E;
  box-shadow: 0 0 0 0.2rem rgba(28, 76, 86, 0.25);
}

@media (min-width: 768px) {
  body p {
    font-size: 16px;
  }
  .navbar {
    padding: 20px 50px 0 50px;
  }
  .navbar .logo-principal {
    width: 80px;
  }
  .navbar .nav-link {
    margin: 5px 30px;
  }
  .navbar .nav-link:hover {
    color: #8EBDA0;
  }
  .contenedor-parrafo-index {
    width: 90%;
  }
  .contenedor-parrafo-index p {
    font-size: 16px;
  }
  .contenedor-biografia {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contenedor-biografia .contenedor-biografia-img {
    background-color: #C7D7CD;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contenedor-biografia .contenedor-biografia-img .img-biografia-1 {
    width: 100%;
  }
  .contenedor-biografia .contenedor-biografia-img .img-biografia-2 {
    display: none;
  }
  .contenedor-biografia .contenedor-biografia-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .contenedor-biografia .contenedor-biografia-textos p {
    width: 80%;
    margin-bottom: 40px;
    font-size: 14px;
  }
  .contenedor-testimoniales {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenedor-testimoniales p {
    width: 60%;
  }
  .contenedor-testimoniales .carousel {
    width: 100%;
  }
  .contenedor-testimoniales .carousel .fondo-carousel {
    background-color: #fafafa;
    height: 380px;
  }
  .contenedor-contacto p {
    width: 60%;
  }
  .contenedor-contacto .boton {
    width: 10%;
  }
  footer {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  footer .contenedor-menu-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .contenedor-menu-footer a {
    margin-right: 15px;
  }
  footer .contenedor-redes {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
  }
  footer .contenedor-redes svg {
    width: 40px;
  }
  .contenedor-terminos h6 {
    font-size: 14px;
    padding-bottom: 5px;
  }
  /*Secciones*/
  .navbar .logo-h {
    height: 60px;
  }
  .contenedor-encabezado-secciones {
    width: 60%;
  }
  .contenedor-encabezado-secciones h1 {
    font-size: 28px;
  }
  .contenedor-encabezado-secciones p {
    text-align: left;
  }
  /*------Terapias-----*/
  .contenedor-cards-terapias {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
  }
  .contenedor-cards-terapias .cards-terapias {
    width: 30%;
    min-width: 250px;
    max-width: 280px;
  }
  .contenedor-cards-terapias .cards-terapias p {
    padding: 10px 0;
  }
  /*------Programas-----*/
  /*------Contacto-----*/
}
.grid {
  position: relative;
  margin: 0 auto;
  padding: 1em 0 4em;
  width: 90%;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Common style */
.grid figure {
  position: relative;
  float: center;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-height: 360px;
  width: 30%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 800;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/***** Sarah *****/
/*---------------*/
figure.effect-sarah {
  background: #42b078;
}

figure.effect-sarah img {
  max-width: none;
  width: calc(100% + 20px);
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-10px, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-sarah:hover img {
  opacity: 0.4;
  transform: translate3d(0, 0, 0);
}

figure.effect-sarah figcaption {
  text-align: left;
}

figure.effect-sarah h2 {
  position: relative;
  overflow: hidden;
  padding: 0.5em 0;
}

figure.effect-sarah h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  content: "";
  transition: transform 0.35s;
  transform: translate3d(-100%, 0, 0);
}

figure.effect-sarah:hover h2::after {
  transform: translate3d(0, 0, 0);
}

figure.effect-sarah p {
  padding: 1em 0;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(100%, 0, 0);
}

figure.effect-sarah:hover p {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}/*# sourceMappingURL=style.css.map */