@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fondo: #fafafa;
$blanco: #ffffff;
$verde-1: #1C4C56;
$verde-2: #2D7C8E;
$verde-3: #3B989E;
$verde-4: #8EBDA0;
$verde-5: #C7D7CD;
$montserrat: 'Montserrat',
sans-serif;

html {
    box-sizing: border-box;
}


body {
    background-color: #fafafa;
    font-family: $montserrat;

    p {
        font-size: 14px;
    }
}

.navbar {
    padding: 10px 20px;

    .logo-principal {
        width: 50px;
    }

    .nav-link {
        color: #1C4C56;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        margin: 5px 0;
        padding: 5px;
        border-bottom: solid 2px transparent;

        &:hover {
            color: $verde-4;
        }
    }

    .active {
        border-bottom: solid 2px $verde-2;
        font-weight: 500;
    }

}

.img-index {

    width: 100%;
    max-width: 1366px;
}

.linea-vertical {
    height: 45px;
    width: 2px;
    margin: auto;
    background-color: $verde-1;
    margin-top: 30px;
    margin-bottom: 10px;
}

.contenedor-parrafo-index {
    width: 100%;
    margin: auto;

    p {
        color: $verde-1;
        margin: auto;
        width: 80%;
        padding: 20px 0 30px 0;
        font-weight: 400;
    }
}

.contenedor-sobre-mi {

    width: 100%;
    background-color: $verde-1;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .contenedor-img-sobre-mi {
        background-color: #C7D7CD;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .img-sobre-mi-1 {
            width: 50%;
        }

        .img-sobre-mi-2 {
            width: 50%;

        }
    }

    .contenedor-parrafo-sobre-mi {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .parrafo-sobre-mi {
            width: 80%;
            color: #ffffff;
            margin: auto;
            padding: 20px 0 30px 0;
        }

        h4 {
            color: #fff;
            margin: auto;
            margin-top: 30px;
        }

        hr {
            width: 40px;
            height: 2px;
            color: #fff;
            margin: auto;
            margin-top: 10px;
        }
    }
}

.contenedor-testimoniales {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
        color: $verde-1;
        margin: auto;
        margin-top: 30px;
    }

    hr {
        width: 40px;
        height: 2px;
        color: $verde-1;
        margin: auto;
        margin-top: 10px;
    }

    p {
        color: $verde-1;
        margin: auto;
        width: 80%;
        padding: 20px 0 30px 0;
        font-weight: 400;
    }

    .carousel {
        width: 100%;

        .carousel-indicators [data-bs-target] {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $verde-4;
            margin-bottom: 10px;
        }

        .fondo-carousel {
            background-color: $fondo;
            height: 450px;
        }

        .img-persona {
            width: 120px;
            border-radius: 50%;
            border: $verde-4 4px solid;
        }

        h5 {
            color: $verde-1;
            font-weight: bold;
            margin-top: 15px;
        }

        h6 {
            color: $verde-4;
        }

        p {
            line-height: 24px;

            .comillas {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}

.contenedor-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
    background-color: $verde-5;

    h4 {
        color: $verde-1;
        margin: auto;
    }

    p {
        color: $verde-1;
        margin: auto;
        width: 80%;
        padding: 20px 0 30px 0;
        font-weight: 400;

    }

    button {
        border-radius: 3px;
        border: solid 2px $verde-1;
        background-color: transparent;
        margin: auto;
        width: 30%;

        a {
            text-decoration: none;
            color: $verde-1;
        }
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-bottom: 40px;

    .contenedor-menu-footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            padding: 5px;
            color: $verde-1;
            text-decoration: none;
        }

        .active {
            border-bottom: solid 2px $verde-2;
            font-weight: 500;
        }
    }

    .contenedor-redes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;

        svg {
            color: $verde-1;
            width: 30px;


        }

        .facebook {
            &:hover {
                padding: 1px;
                border-radius: 48%;
                color: #fff;
                background-color: #3b5998;

            }
        }

        .instagram {
            &:hover {
                padding: 1px;
                border-radius: 48%;
                color: #fff;
                background-image: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
            }
        }

        .linkedin {
            &:hover {
                padding: 1px;
                border-radius: 48%;
                color: #fff;
                background-color: #0e76a8;

            }
        }

    }
}

.contenedor-terminos {
    margin-bottom: 40px;

    h6 {
        margin: auto;
        color: $verde-1;
        font-size: 10px;
        text-align: center;
        font-weight: 400;

    }
}


/*Paginas*/

.navbar .logo-h {
    height: 50px;
}

.encabezado-terapias {
    width: 100%;
    margin: auto;
    margin-top: 50px;

    h1 {
        color: $verde-1;
        margin: auto;
        width: 80%;
        font-size: 24px;
        text-align: center;
    }

    p {
        color: $verde-1;
        margin: auto;
        width: 80%;
        padding: 20px 0 20px 0;
        font-weight: 400;
    }
    hr {
        width: 40px;
        height: 2px;
        color: $verde-1;
        margin: auto;
        margin-bottom: 40px;
    }
}

.contenedor-cards-terapias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cards-terapias {
        width: 70%;
        margin-bottom: 40px;
        background-color: $blanco;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        img {
            width: 100%;
        }
        h5 {
            text-align: center;
            margin-top: 15px;

        }
        p {
            padding: 10px 20px;
        }
    }
}



@media (min-width: 768px) {

    body {

        p {
            font-size: 16px;
        }
    }

    .navbar {
        padding: 20px 50px 0 50px;

        .logo-principal {
            width: 80px;
        }

        .nav-link {
            margin: 5px 30px;

            &:hover {
                color: $verde-4;
            }
        }
    }

    .contenedor-parrafo-index {
        width: 90%;

        p {
            font-size: 16px;
        }

    }

    .contenedor-sobre-mi {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .contenedor-img-sobre-mi {
            background-color: #C7D7CD;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .img-sobre-mi-1 {
                width: 100%;
            }

            .img-sobre-mi-2 {
                display: none;

            }
        }

        .contenedor-parrafo-sobre-mi {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;

            p {
                font-size: 14px;
            }
        }
    }

    .contenedor-testimoniales {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            width: 60%;
        }

        .carousel {
            width: 100%;

            .fondo-carousel {
                background-color: $fondo;
                height: 380px;
            }


        }

    }

    .contenedor-contacto {

        p {
            width: 60%;

        }

        button {
            width: 10%;

        }

    }

    footer {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        padding: 0;
        margin-top: 80px;
        margin-bottom: 60px;

        .contenedor-menu-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                margin-right: 15px;
            }
        }

        .contenedor-redes {
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px;

            svg {
                width: 40px;
            }

        }
    }

    .contenedor-terminos {
        h6 {
            font-size: 14px;
            padding-bottom: 5px;

        }
    }


    /*Paginas*/
    .navbar .logo-h {
        height: 80px;
    }
    .encabezado-terapias {
        width: 60%;
    
    }
    
    .contenedor-cards-terapias {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    
        .cards-terapias {
            width: 30%;
    
            p {
                padding: 10px 20px;
                
            }
        }
    }

}