@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fondo: #fafafa;
$blanco: #ffffff;
$verde-1: #1C4C56;
$verde-2: #2D7C8E;
$verde-3: #3B989E;
$verde-4: #8EBDA0;
$verde-5: #C7D7CD;
$montserrat: 'Montserrat',
sans-serif;

html {
    box-sizing: border-box;
}


body {
    background-color: #fafafa;
    font-family: $montserrat;

    p {
        font-size: 14px;
    }

}

a {
    text-decoration: none;
}

.linea-oscura-index {
    width: 50px;
    height: 2px;
    border: $verde-1 solid 2px;
    margin: auto;
    margin-top: 10px;
}

.linea-oscura-secciones {
    width: 50px;
    height: 2px;
    border: $verde-1 solid 2px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

.linea-clara {
    width: 50px;
    height: 2px;
    border: $verde-4 solid 2px;
    margin: auto;
    margin-top: 10px;
}


.navbar {
    padding: 10px 20px;

    .logo-principal {
        width: 50px;
    }

    .nav-link {
        color: $verde-1;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        margin: 5px 0;
        padding: 5px;
        border-bottom: solid 2px transparent;

        &:hover {
            color: $verde-4;
        }
    }

    .active {
        border-bottom: solid 2px $verde-2;
        font-weight: 500;
    }

}

.img-header-index {
    width: 100%;
    margin-top: 150px;
}

.linea-vertical {
    height: 45px;
    width: 2px;
    margin: auto;
    background-color: $verde-1;
    margin-top: 30px;
    margin-bottom: 10px;
}

.contenedor-parrafo-index {
    width: 100%;
    margin: auto;

    p {
        color: $verde-1;
        margin: auto;
        width: 80%;
        padding: 20px 0 30px 0;
        font-weight: 400;
    }
}

.contenedor-biografia {
    width: 100%;
    background-color: $verde-1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contenedor-biografia-img {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .img-biografia-1 {
            width: 50%;
        }

        .img-biografia-2 {
            width: 50%;
        }
    }

    .contenedor-biografia-textos {
        width: 100%;

        h4 {
            width: 80%;
            color: #fff;
            margin: auto;
            margin-top: 30px;
            text-align: center;
        }

        p {
            width: 80%;
            color: #fff;
            margin: auto;
            padding: 20px 0 30px 0;
        }
    }
}

.contenedor-testimoniales {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
        color: $verde-1;
        margin: auto;
        margin-top: 80px;
        font-weight: 600;
    }

    p {
        color: $verde-1;
        margin: auto;
        width: 80%;
        padding: 20px 0 0 0;
        font-weight: 500;
        text-align: center;
    }

    .testimoniales-nombre {
        font-size: 14px;
        padding-bottom: 80px;
        font-weight: 400;

        span {
            color: $verde-4;
        }
    }

    /*.carousel {
        width: 100%;

        .carousel-item {
            padding-top: 20px;
        }

        .carousel-indicators [data-bs-target] {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $verde-4;
            margin-bottom: 10px;
        }

        .fondo-carousel {
            background-color: $fondo;
            height: 450px;
        }

        .img-persona {
            width: 120px;
            border-radius: 50%;
            border: $verde-4 4px solid;
        }

        h5 {
            color: $verde-1;
            font-weight: 500;
            margin-top: 15px;
        }

        h6 {
            color: $verde-4;
        }

        p {
            line-height: 24px;

            .comillas {
                font-size: 24px;
                font-weight: bold;
            }
        }
    }*/
}

.contenedor-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
    background-color: $verde-5;

    h4 {
        color: $verde-1;
        margin: auto;
        font-weight: 600;
    }

    p {
        color: $verde-1;
        margin: auto;
        width: 80%;
        padding: 20px 0 30px 0;
        font-weight: 400;
        text-align: center;

    }

    .boton {
        border-radius: 3px;
        border: solid 2px $verde-1;
        background-color: $verde-1;
        color: $blanco;
        margin: auto;
        padding: 5px;
        width: 30%;
        text-align: center;
        text-decoration: none;

        &:hover {
            background-color: transparent;
            color: $verde-1;
        }
    }
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-bottom: 40px;

    .contenedor-menu-footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            padding: 5px;
            color: $verde-1;
            text-decoration: none;
        }

        .active {
            border-bottom: solid 2px $verde-2;
            font-weight: 500;
        }
    }

    .contenedor-redes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;

        svg {
            color: $verde-1;
            width: 30px;
        }

        .facebook {
            &:hover {
                padding: 1px;
                border-radius: 48%;
                color: #fff;
                background-color: #3b5998;
            }
        }

        .instagram {
            &:hover {
                padding: 1px;
                border-radius: 48%;
                color: #fff;
                background-image: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
            }
        }

        .linkedin {
            &:hover {
                padding: 1px;
                border-radius: 48%;
                color: #fff;
                background-color: #0e76a8;
            }
        }

    }
}

.contenedor-terminos {
    margin-bottom: 40px;

    h6 {
        margin: auto;
        color: $verde-1;
        font-size: 10px;
        text-align: center;
        font-weight: 400;

    }
}

/*------Secciones-----*/

.navbar .logo-h {
    height: 40px;
}

.contenedor-encabezado-secciones {
    width: 80%;
    margin: auto;
    margin-top: 150px;

    h1 {
        color: $verde-1;
        margin: auto;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    p {
        color: $verde-1;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 400;
        text-align: center;
    }

}

/*------Terminos y condiciones-----*/

.contenedor-encabezado-termYcondiciones {
    width: 90%;
    margin: auto;
    margin-top: 150px;

    h1 {
        color: $verde-1;
        margin: auto;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    p {
        color: $verde-1;
        margin: auto;
        padding-top: 20px;
        font-weight: 400;

    }

}

/*------Terapias-----*/

.contenedor-cards-terapias {
    width: 100%;
    display: grid;
    grid-template-columns: 250px;
    justify-content: center;

    a {
        text-decoration: none;
        color: $verde-1;

        .cards-terapias {
            width: 100%;
            margin: auto;
            margin-bottom: 40px;
            background-color: $blanco;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;


            .imagen {
                overflow: hidden;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: $verde-2;
            }

            &:hover img {
                opacity: 0.7;
                transform: scale(1.1);
            }

            img {
                width: 100%;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.55s, transform 0.55s;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            h6 {
                text-align: center;
                font-weight: 600;
                background-color: $verde-5;
                padding: 10px;
            }

            p {
                padding: 10px 0;
                width: 90%;
                text-align: left;
                margin: auto;
                height: 250px;
            }

        }
    }
}


/*------Programas-----*/

/*
.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    width: 90%;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

 ----Common style ----

.grid figure {
    position: relative;
    float: center;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-height: 360px;
    width: 30%;
    background: $verde-2;
    text-align: center;
    cursor: pointer;

}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

---- Anchor will cover the whole item by default 
 For some effects it will show as a button -----

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}


figure.effect-sarah {
    background: $verde-2;
}

figure.effect-sarah img {
    max-width: none;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-sarah:hover img {
    opacity: 0.4;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-sarah figcaption {
    text-align: left;
}

figure.effect-sarah h2 {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
}

figure.effect-sarah h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

figure.effect-sarah:hover h2::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-sarah p {
    padding: 1em 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

figure.effect-sarah:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}*/


/*------Contacto-----*/

.contenedor-seccion-contacto {
    width: 100%;
    background-color: $verde-5;

    form {
        width: 80%;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;

        .boton-formulario {
            display: flex;
            justify-content:flex-end;
            
            button {
                border-radius: 3px;
                border: solid 2px $verde-1;
                background-color: $verde-1;
                color: $blanco;
                padding: 5px 15px;
                text-align: center;
                text-decoration: none;

                &:hover {
                    background-color: transparent;
                    color: $verde-1;
                }
            }
        }



        .form-control:focus {
            border-color: #2D7C8E;
            box-shadow: 0 0 0 0.2rem rgba(28, 76, 86, 0.25);

        }
    }
}

/*------Secciones Terapias-----*/

.contenedor-contenido-seccion {
    width: 70%;
    margin: auto;

    p {
        color: $verde-1;

        span {
            font-weight: bold;
        }
    }

    .contenedor-boton {
        display: flex;
        justify-content: center;

        .boton-terapias {
            border-radius: 3px;
            border: solid 2px $verde-1;
            background-color: transparent;
            color: $verde-1;
            margin: auto;
            padding: 5px 20px;
            text-align: center;
            text-decoration: none;
            margin: 60px 0 20px 0;

            &:hover {
                background-color: $verde-1;
                color: $blanco;
            }
        }
    }
}

.contenedor-img-secciones-terapias {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    img {
        width: 25%;
    }
}




@media (min-width: 768px) {

    body {
        p {
            font-size: 16px;
        }
    }

    .navbar {
        padding: 20px 50px 0 50px;

        .logo-principal {
            width: 80px;
        }

        .nav-link {
            margin: 5px 30px;

            &:hover {
                color: $verde-4;
            }
        }
    }

    .contenedor-parrafo-index {
        width: 90%;

        p {
            font-size: 16px;
        }

    }



    .contenedor-testimoniales {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            width: 60%;
        }

        .carousel {
            width: 100%;

            .fondo-carousel {
                background-color: $fondo;
                height: 380px;
            }
        }

    }

    .contenedor-contacto {

        p {
            width: 60%;
        }

        .boton {
            width: 15%;
        }

    }

    footer {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        padding: 0;
        margin-top: 80px;
        margin-bottom: 60px;

        .contenedor-menu-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                margin-right: 15px;
            }
        }

        .contenedor-redes {
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px;

            svg {
                width: 40px;
            }

        }
    }

    .contenedor-terminos {
        h6 {
            font-size: 14px;
            padding-bottom: 5px;

        }
    }

    /*Secciones*/

    .navbar .logo-h {
        height: 60px;
    }

    .contenedor-encabezado-secciones {
        width: 60%;

        h1 {
            font-size: 28px;
        }

    }

    /*------Terapias-----*/

    .contenedor-cards-terapias {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;

        .cards-terapias {
            width: 30%;
            min-width: 250px;
            max-width: 280px;

            p {
                padding: 10px 0;

            }
        }
    }

    /*------Programas-----*/

    /*------Contacto-----*/
    .contenedor-seccion-contacto {
        form {
            width: 50%;

        }
    }

}

@media (min-width: 1279px) {
    .contenedor-biografia {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .contenedor-biografia-img {
            background-color: #C7D7CD;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .img-biografia-1 {
                width: 100%;
            }

            .img-biografia-2 {
                display: none;

            }
        }

        .contenedor-biografia-textos {

            width: 50%;

            p {
                width: 80%;
                font-size: 14px;
                margin-top: 20px;
            }
        }
    }
}