@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$fondo: #fafafa;
$blanco: #ffffff;
$verde-1: #1C4C56;
$verde-2: #2D7C8E;
$verde-3: #3B989E;
$verde-4: #8EBDA0;
$verde-5: #C7D7CD;
$montserrat: 'Montserrat',
sans-serif;

html {
    box-sizing: border-box;
}


body {
    background-color: #fafafa;
    font-family: $montserrat;

    p {
        font-size: 14px;
    }

}

a {
    text-decoration: none;
}

.linea-oscura-index {
    width: 50px;
    height: 2px;
    border: $verde-1 solid 2px;
    margin: auto;
    margin-top: 10px;
}

.linea-oscura-secciones {
    width: 50px;
    height: 2px;
    border: $verde-1 solid 2px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

.linea-clara {
    width: 50px;
    height: 2px;
    border: $verde-4 solid 2px;
    margin: auto;
    margin-top: 10px;
}


.navbar {
    padding: 10px 20px;

    .logo-principal {
        width: 50px;
    }

    .nav-link {
        color: $verde-1;
        font-family: $montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        margin: 5px 0;
        padding: 5px;
        border-bottom: solid 2px transparent;

        &:hover {
            color: $verde-4;
        }
    }

    .active {
        border-bottom: solid 2px $verde-2;
        font-weight: 500;
    }

}

.img-header-index {
    width: 100%;
    margin-top: 100px;
}

.linea-vertical {
    height: 45px;
    width: 2px;
    margin: auto;
    background-color: $verde-1;
    margin-top: 30px;
    margin-bottom: 10px;
}

.contenedor-parrafo-index {
    width: 100%;
    margin: auto;

    p {
        color: $verde-1;
        margin: auto;
        width: 80%;
        padding: 20px 0 30px 0;
        font-weight: 400;
    }
}

.contenedor-biografia {
    width: 100%;
    background-color: $verde-1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .contenedor-biografia-img {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .img-biografia-1 {
            width: 50%;
        }

        .img-biografia-2 {
            width: 50%;
        }
    }

    .contenedor-biografia-textos {
        width: 100%;

        h4 {
            width: 80%;
            color: #fff;
            margin: auto;
            margin-top: 30px;
            text-align: center;
        }

        p {
            width: 80%;
            color: #fff;
            margin: auto;
            padding: 20px 0 30px 0;
        }
    }
}

.contenedor-testimoniales {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 0;

    h4 {
        color: $verde-1;
        margin: auto;
        margin-top: 30px;
        font-weight: 600;
    }

    .carousel {
        width: 100%;
        margin-top: 20px;

        .carousel-inner {
            height: 550px;

            .carousel-item {
                height: 550px;

                p {
                    line-height: 24px;
                    height: 550px;
                    color: $verde-1;
                    width: 80%;
                    margin: auto;
                    font-weight: 500;
                    text-align: center;

                    .comillas {
                        font-size: 24px;
                        font-weight: bold;
                    }

                    .profesion {
                        color: #8EBDA0;
                    }
                }

            }
        }

        .carousel-indicators [data-bs-target] {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $verde-4;
            margin-bottom: 10px;
        }
    }
}

.contenedor-pagina-contacto {
    height: 100%;
}

.contenedor-contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
    background-color: $verde-5;

    h4 {
        color: $verde-1;
        margin: auto;
        font-weight: 600;
    }

    p {
        color: $verde-1;
        margin: auto;
        width: 80%;
        padding: 20px 0 30px 0;
        font-weight: 400;
        text-align: center;

        a {
            color: $verde-2;
            font-weight: 600;
        }

    }

    .boton {
        border-radius: 3px;
        border: solid 2px $verde-1;
        background-color: $verde-1;
        color: $blanco;
        margin: auto;
        padding: 5px;
        width: 30%;
        text-align: center;
        text-decoration: none;

        &:hover {
            background-color: transparent;
            color: $verde-1;
        }
    }


}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin-bottom: 40px;

    .contenedor-menu-footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            padding: 5px;
            color: $verde-1;
            text-decoration: none;
        }

        .active {
            border-bottom: solid 2px $verde-2;
            font-weight: 500;
        }
    }

    .contenedor-redes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px;

        svg {
            color: $verde-1;
            width: 30px;
        }

        .facebook {
            &:hover {
                padding: 1px;
                border-radius: 48%;
                color: #fff;
                background-color: #3b5998;
            }
        }

        .instagram {
            &:hover {
                padding: 1px;
                border-radius: 48%;
                color: #fff;
                background-image: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf)
            }
        }

        .linkedin {
            &:hover {
                padding: 1px;
                border-radius: 48%;
                color: #fff;
                background-color: #0e76a8;
            }
        }

    }
}

.contenedor-terminos {
    margin-bottom: 40px;

    h6 {
        margin: auto;
        color: $verde-1;
        font-size: 10px;
        text-align: center;
        font-weight: 400;

    }
}

/*------Secciones-----*/

.navbar .logo-h {
    height: 40px;
}

.contenedor-encabezado-secciones {
    width: 80%;
    margin: auto;
    margin-top: 150px;

    h1 {
        color: $verde-1;
        margin: auto;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    p {
        color: $verde-1;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 400;
        text-align: center;
    }

}

/*------Terminos y condiciones-----*/

.contenedor-encabezado-termYcondiciones {
    width: 90%;
    margin: auto;
    margin-top: 150px;

    h1 {
        color: $verde-1;
        margin: auto;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    p {
        color: $verde-1;
        margin: auto;
        padding-top: 20px;
        font-weight: 400;
    }

}

/*------Terapias-----*/

.contenedor-cards-terapias {
    width: 100%;
    display: grid;
    grid-template-columns: 250px;
    justify-content: center;

    a {
        text-decoration: none;
        color: $verde-1;

        .cards-terapias {
            width: 100%;
            margin: auto;
            margin-bottom: 40px;
            background-color: $blanco;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;


            .imagen {
                overflow: hidden;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background-color: $verde-2;
            }

            &:hover img {
                opacity: 0.7;
                transform: scale(1.1);
            }

            img {
                width: 100%;
                -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                transition: opacity 0.55s, transform 0.55s;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }

            h6 {
                text-align: center;
                font-weight: 600;
                background-color: $verde-5;
                padding: 10px;
            }

            p {
                padding: 10px 0;
                width: 90%;
                text-align: left;
                margin: auto;
                height: 250px;
            }

        }
    }
}

/*Pagina gracias*/
.contenedor-pagina-gracias {
    width: 100%;
    margin: auto;
    margin-top: 150px;

    h1 {
        color: $verde-1;
        margin: auto;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }

    h5 {
        color: $verde-1;
        margin: auto;
        padding: 100px 0;
        font-weight: 400;
        text-align: center;
        width: 100%;
    }

}


/*------Página Curso-----*/

.texto-lanzamiento-curso {
    background-color: $verde-4;
    color: $blanco;
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
}

.contenedor-frase-curso {
    width: 80%;
    margin: auto;

    p {
        color: $verde-1;
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: 400;
        text-align: center;
    }
}

.fondo-info-curso {
    position: relative;
}

.fondo-info-curso:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url(../img/img-curso.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
}

.contenido-curso {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
        width: 80%;
        margin: auto;
        color: $verde-1;
        padding: 20px 0;
    }

    .contenedor-img-curso {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        img {
            width: 33.3%;
        }
    }
}

.acordeon-curso {
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;

    h4 {
        text-align: center;
        margin-bottom: 50px;
        color: $verde-1;
    }

    button:focus {
        outline: none !important;
        outline-width: 0 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }

    .accordion-button:not(.collapsed)::after {
        transform: rotate(-180deg);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

    .accordion-button {
        background-color: $verde-5;
        color: $verde-1;
        font-weight: 600;
    }

    .collapsed {
        color: $verde-1;
        background-color: $fondo;
    }

    .accordion-body {
        background-color: $fondo;
        color: $verde-1;

    }

}


/*------Contacto-----*/

.contenedor-seccion-contacto {
    width: 100%;
    background-color: $verde-5;

    form {
        width: 80%;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;

        .boton-formulario {
            display: flex;
            justify-content: flex-end;

            .boton-f {
                border-radius: 3px;
                border: solid 2px $verde-1;
                background-color: $verde-1;
                color: $blanco;
                padding: 5px 15px;
                text-align: center;
                text-decoration: none;

                &:hover {
                    background-color: transparent;
                    color: $verde-1;
                }
            }
        }



        .form-control:focus {
            border-color: #2D7C8E;
            box-shadow: 0 0 0 0.2rem rgba(28, 76, 86, 0.25);

        }
    }
}

/*------Secciones Terapias-----*/

.contenedor-contenido-seccion {
    width: 70%;
    margin: auto;

    p {
        color: $verde-1;

        span {
            font-weight: bold;
        }
    }

    .contenedor-boton {
        display: flex;
        justify-content: center;

        .boton-terapias {
            border-radius: 3px;
            border: solid 2px $verde-1;
            background-color: transparent;
            color: $verde-1;
            margin: auto;
            padding: 5px 20px;
            text-align: center;
            text-decoration: none;
            margin: 60px 0 20px 0;

            &:hover {
                background-color: $verde-1;
                color: $blanco;
            }
        }
    }
}

.contenedor-img-secciones-terapias {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    img {
        width: 25%;
    }
}




@media (min-width: 768px) {

    body {
        p {
            font-size: 16px;
        }
    }

    .navbar {
        padding: 20px 50px 0 50px;

        .logo-principal {
            width: 80px;
        }

        .nav-link {
            margin: 5px 30px;

            &:hover {
                color: $verde-4;
            }
        }
    }

    .img-header-index {

        margin-top: 120px;
    }

    .contenedor-parrafo-index {
        width: 90%;

        p {
            font-size: 16px;
        }

    }

    .contenedor-testimoniales {
        .carousel {
            .carousel-inner {
                height: 400px;

                .carousel-item {
                    height: 400px;

                    p {
                        height: 400px;
                        width: 75%;
                    }
                }
            }
        }
    }

    .contenedor-pagina-contacto {
        height: 65vh;
    }

    .contenedor-contacto {

        p {
            width: 60%;
        }

        .boton {
            width: 15%;
        }
        

    }

    footer {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        padding: 0;
        margin-top: 80px;
        margin-bottom: 60px;

        .contenedor-menu-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                margin-right: 15px;
            }
        }

        .contenedor-redes {
            width: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0px;

            svg {
                width: 40px;
            }

        }
    }

    .contenedor-terminos {
        h6 {
            font-size: 14px;
            padding-bottom: 5px;

        }
    }

    /*Secciones*/

    .navbar .logo-h {
        height: 60px;
    }

    .contenedor-encabezado-secciones {
        width: 60%;

        h1 {
            font-size: 28px;
        }

    }

    /*------Terapias-----*/

    .contenedor-cards-terapias {
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;

        .cards-terapias {
            width: 30%;
            min-width: 250px;
            max-width: 280px;

            p {
                padding: 10px 0;

            }
        }
    }

    /*------Curso-----*/
    .contenido-curso {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .texto-info-curso {
            width: 70%;

            p {
                color: $verde-1;
                width: 80%;
                padding: 50px 0;
            }
        }

        .contenedor-img-curso {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 80%;
            }
        }
    }


    /*------Contacto-----*/

    .contenedor-seccion-contacto {

        form {
            width: 50%;

        }
    }

}

@media (min-width: 1025px) {
    .contenedor-pagina-contacto {
        height: 100vh;
    }

}

@media (min-width: 1279px) {
    .contenedor-biografia {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .contenedor-biografia-img {
            background-color: #C7D7CD;
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .img-biografia-1 {
                width: 100%;
            }

            .img-biografia-2 {
                display: none;

            }
        }

        .contenedor-biografia-textos {

            width: 50%;

            p {
                width: 80%;
                font-size: 14px;
                margin-top: 20px;
            }
        }
    }

    .contenedor-testimoniales {
        .carousel {
            .carousel-inner {
                height: 300px;

                .carousel-item {
                    height: 300px;

                    p {
                        height: 300px;
                        width: 75%;
                    }
                }
            }
        }
    }
}
